services:
  application:
    build:
      context: .
      dockerfile: docker/common/php-fpm/Dockerfile
    image: laravel-app:latest
    container_name: laravel_app
    restart: unless-stopped
    tty: true
    ports:
      - "9000:9000"
    volumes:
      - .:/var/www/html
    networks:
      - laravel_app
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www/html
      - ./docker/common/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - application
    networks:
      - laravel_app
networks:
  laravel_app:
    driver: bridge
